/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Makefile.vm
/TAGS
/_libs
/flow-dopri.c
/flow-euler.c
/flow-integrator.c
/flow-ode-solver.c
/flow-ode.c
/flow-runge-kutta-explicit.c
/flow-solver.c
/flow-step-method.c
/flow-vector.c
/flow.gir
/flow.h
/flow.vapi
/libflow.la
/libflow_la.valastamp
/so_locations
/tags
