/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Makefile.vm
/TAGS
/_libs
/ball-on-beam.c
/constant.c
/flow-demo
/flow-demo-ode.c
/flow-demo.c
/flow_demo.valastamp
/gtk-ball-on-beam
/gtk-ball-on-beam.c
/gtk-stiff-pendulum
/gtk-stiff-pendulum.c
/gtk_ball_on_beam.valastamp
/gtk_stiff_pendulum.valastamp
/interpolate
/interpolate.c
/interpolate.valastamp
/linear-test-equation.c
/lorentz.c
/so_locations
/step.c
/stiff-pendulum.c
/tags
